<%= form_for(current_user.favoriting_favorites.build, remote: true) do |f| %>
    <div>
        <%= hidden_field_tag :favmicropost_id, @user.id %>
    </div>
    <%= f.submit "Favorite", class: "btn btn-primary" %>
<% end %>